.header {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(201, 205, 227, 0.5);
    position: fixed;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
}

.logoTitleHolder {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo>img {
    height: 60%;
}

.title {
    font-size: 1.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-left: 15px;
    /* color: #3E4679; */
}

.blueSpan {
    /* gold color: #AFA056; */
    color: #3E4679;
}

.navList {
    position: absolute;
    right: 30px;
    display: flex;
    height: 50%;
}

.navItem {
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spanEN {
    font-family: "Inter";
}

@keyframes hoverFill {
    from {
        font-weight: 400;
    }

    to {
        background-color: #3E4679;
        font-weight: 600;
        color: #d8c75c;
    }
}

.navItem:hover {
    animation: hoverFill 300ms ease-in-out forwards;
}

.navItem::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #d8c75c;
    transition: width 0.3s ease;
}

.navItem:hover::after {
    width: 100%;
}
