footer {
    height: 15vh;
    padding: 0 50px 0 50px;
    width: 100%;
    background-color: #C9CDE3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    height: 3rem;
    border-right: 1.5px solid black;
}

.link:hover {
    font-weight: 600;
}

.JP {
    font-family: "Noto Sans JP", sans-serif;
}

.EN {
    font-family: "Inter";
}

.sns {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-self: center;
}

.snsLink {
    height: 1.5rem;
}

.snsLink:hover {
    height: 1.7rem;
}
